/* .header{
    width: 100%;
    height: 30vh;
     border: 1px solid black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/Images/banner/b4.jpg");
    background-size: cover;
    background-position-y: 50% ;
    background-repeat: no-repeat;
    color: rgb(29, 203, 215);
}  */

.about_header{
    background-image: url("../../public/Images/banner/b4.jpg");
}

.about_container{
    position: relative;
    display: flex;
    /* border: 1px solid black; */
    justify-content: sp;
    align-items: center;
    align-content: center;
    padding: 80px 50px;
}

.about_container .about_img{
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    height: 400px;
    /* height: 300px; */
    background-image: url("../../public/Images/about/a6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-right: 5%; */

}
.about_container .about_info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-app{
    margin-top: 30px;
    padding: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-app video{
    border: 1px solid black;
    width: 50vw;
    height: 70vh;

}